/server/node_modules
/server/dist
/server/uploads
/server/.env
/client/node_modules
/client/.cache
/client/.next
/client/.npm
/client/.env
/admin/node_modules
/admin/.cache
/admin/.next
/admin/.npm
/admin/.env

