.login-form{
  position: relative;
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.2rem;
  background: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);

  .error-box{
    position: absolute;
    top:10px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 14px;
  }

  .input-box{
    width: 100%;
    position: relative;

    input{
      position: relative;
      display: block;
      width: 100%;
      padding: 0.5rem;
      border:1px solid rgb(226 227 230);
      border-radius: 0.375rem;
    }

    h6{
      font-size: .8rem;
      line-height: 1.25rem;
      margin-top: 0.25rem;
      color: rgb(107 114 128)
    }

    span{
      position: absolute;
      bottom: 2px;
      left: 5px;
      transform: translateY(100%);
      font-size: .8rem;
      line-height: 1.25rem;
      margin-top: 0.25rem;
      color: red
    }

    .send-email{
      position: absolute;
      bottom: 2px;
      right: 4px;
      border: none;
      z-index: 1;
    }
  }

  .btn-box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    margin-top: 1rem;

    button{
      width: 100%;
      padding: 0.5rem 1rem;
      border-radius: 0.375rem;
      border: none;
      background-color: rgb(0 136 204 / 60%);
      color: #fff;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
      text-align: center;

      &:hover{
        background-color: rgb(0 136 204);
      }
    } 
  }
}